{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWS Login</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
</head>
<body>
    <div class="container">
            <div class="credentials-box">
            <h2>AWS Credentials</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_aws_account_id">AWS Account ID</label><br>
                {{ form.aws_account_id }}
            </div>
            <div class="form-group">
                <label for="id_aws_secret_key">AWS Secret Key</label><br>
                {{ form.aws_secret_key }}
            </div>
            <div class="form-group">
                <label for="id_aws_access_key">AWS Access Key</label><br>
                {{ form.aws_access_key }}
            </div>
            <button type="submit" name="submit">Access Your Account</button>
        </form>
    </div>
</body>
</html>
